<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.UserMapper">

    <!-- 根据ID查询用户 -->
    <select id="findById" resultType="com.blog.entity.User">
        SELECT * FROM def_user WHERE id = #{id} AND deleted_flag = 'N'
    </select>

    <!-- 根据username查询用户 -->
    <select id="findByUsername" resultType="com.blog.entity.User">
     SELECT * FROM def_user WHERE username = #{username} AND deleted_flag = 'N'
    </select>

    <!-- 查询所有用户 -->
    <select id="findAll" resultType="com.blog.entity.User">
        SELECT * FROM def_user AND deleted_flag = 'N'
    </select>

    <!-- 插入用户 -->
    <insert id="insert">
        INSERT INTO def_user (id, username, password, email, phone, status, created_by, created_date, updated_by, updated_date, deleted_flag)
        VALUES (#{id}, #{username}, #{password}, #{email}, #{phone}, #{status}, #{createdBy}, #{createdDate}, #{updatedBy}, #{updatedDate}, #{deletedFlag})
    </insert>

    <!-- 更新用户 -->
    <update id="update">
        UPDATE def_user
        SET username = #{username},
            password = #{password},
            email = #{email},
            phone = #{phone},
            status = #{status},
            created_by = #{createdBy},
            created_date = #{createdDate},
            updated_by = #{updatedBy},
            updated_date = #{updatedDate},
            deleted_flag = #{deletedFlag}
        WHERE id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="delete">
        DELETE FROM def_user WHERE id = #{id}
    </delete>
</mapper>